<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>url</key>
						<!-- <string>https://github.com/snlo/snlo.github.io/releases/download/0.0.1/Target.ipa</string> -->
            <string>https://github.com/snlo/demotest/releases/download/v0.0.1/default.ipa</string> 
						<key>kind</key>
						<string>software-package</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>title</key>
					<string>聚好抢</string>
					<key>kind</key>
					<string>software</string>
					<key>bundle-version</key>
					<string>1.05.0</string>
					<key>bundle-identifier</key>
					<string>aiera.ju.bypass.buy.JUPass</string>
				</dict>
			</dict>
		</array>
	</dict>
	</plist>